{{ define "footer" }}
<footer class="footer bg-fuchsia-800 text-yellow-400 text-base-content p-10">
    <aside>
        <img src="/static/tmwcube.png" alt="Cube Log" class="my-6 w-20 h-20 mx-auto " />
        <p>
            TeoMeWhy Game Studio.


        </p>
    </aside>
    <nav>
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>
    <p>&copy; 2023 Heroes of Cube</p>
</footer>
{{end}}