{{define "content"}}
<div class="medieval-theme">
    <h1>Boas vindas ao Heroes of Cube!</h1>
    <img src="/static/images/wizard.jpg" alt="Wizard" class="wizard-icon" width="100" height="100">

    <p>Se divirta com a gente nesse minigame de RPG</p>

    <h2>Participe</h2>
    <ol>
        <li>Acesse o chat da Twitch:
            <a href="https://twitch.tv/teomewhy" class="twitch-link">twitch.tv/teomewhy</a>
        </li>
        <li>Participe do nosso sistema de pontos digitando:
            <code class="command">!join</code>
        </li>
        <li>
            Crie seu personagem: <code class="command">!create</code>
            <ul>
                <li>Escolha uma raça e uma classe</li>
                <li>Raças: <span class="highlight">dwarf | elf | hobbit | human | poney</span></li>
                <li>Classes: <span class="highlight">mage | thief | warrior | bard | cleric</span></li>
                <li>Exemplo: <code class="command">!create elf mage</code></li>
            </ul>
        </li>
        <li>Obtenha seus loots diários: <code class="command">!loot</code></li>
        <li>Confira seu inventário: <code class="command">!inventory</code></li>
    </ol>
</div>
{{end}}