{{ define "home" }}
<div class="container">
    <div class="hero bg-base-200" id="home-container">
        <div class="hero-content">
            <div>

                <img src=" /static/wizard.png" alt="Wizard" class="my-6 rounded-full w-32 h-32 mx-auto  shadow-xl">
                <h1 class="im-fell-english-medium">Boas vindas ao Heroes of Cube!</h1>
                <p class="py-6">Se divirta com a gente nesse minigame de RPG</p>
                <h2 class="im-fell-english-medium">Participe</h2>
                <ol class="list-decimal list-inside text-left">
                    <li>Acesse o chat da Twitch:
                        <a href="https://twitch.tv/teomewhy" class="link link-primary">twitch.tv/teomewhy</a>
                    </li>
                    <li>Participe do nosso sistema de pontos digitando:
                        <code class="bg-gray-800 text-yellow-500 p-1 rounded">!join</code>
                    </li>
                    <li>
                        Crie seu personagem: <code class="bg-gray-800 text-yellow-500 p-1 rounded">!create</code>
                        <ul class="list-disc list-inside ml-4">
                            <li>Raças: <span class="font-semibold">dwarf | elf | hobbit | human | poney</span></li>
                            <li>Classes: <span class="font-semibold">mage | thief | warrior | bard | cleric</span></li>
                        </ul>
                    </li>
                    <li>Obtenha seus loots diários: <code class="bg-gray-800 text-yellow-500 p-1 rounded">!loot</code>
                    </li>
                    <li>Confira seu inventário: <code class="bg-gray-800 text-yellow-500 p-1 rounded">!inventory</code>
                    </li>
                </ol>

            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <div id="cards-container" class="w-3/4" hx-get="/cards" hx-trigger="load"></div>
        <div class="W-1/4 gap-4 mx-4 my-4">
            <iframe id="twitch-chat-embed"
                src="https://www.twitch.tv/embed/teomewhy/chat?parent=flying-goldfish-novel.ngrok-free.app"
                height="500rem" width="350rem">
            </iframe>
        </div>
    </div>
</div>
{{end}}